.demo-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
  flex-wrap: wrap;
}

.corpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(145, 166, 189);
  padding: 40px;
  overflow-x: hidden;
}
mat-card {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.solicitacoes-container {
  display: block;
  overflow-x: auto;
  border: 2px solid #fff;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  max-width: 1800px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


table.mat-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
  padding: 8px 10px;
  color: #333;
  font-size: 14px;
  border-bottom: none !important;
}

.acoes-header {
  text-align: center !important;
}

.icone-verde {
  color: #4CAF50 !important;
}

.icone-vermelho {
  color: #F44336 !important;
}

.acoes-cell button {
  margin: 0 6px;
}

.acoes-cell, .acoes-header {
  text-align: center;
}

.icones-centralizados {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* espaçamento entre os ícones */
}

@media screen and (max-width: 768px) {
  .corpo {
    padding: 20px 10px;
  }

  .solicitacoes-container {
    padding: 10px;
    border-width: 1px;
    box-shadow: none;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 12px;
    padding: 6px 8px;
  }

  .icone-verde,
  .icone-vermelho {
    font-size: 20px;
  }

  .acoes-cell button {
    margin: 0 4px;
  }
}

@media screen and (max-width: 480px) {
  .mat-header-cell,
  .mat-cell {
    font-size: 11px;
    padding: 4px;
  }

  .icone-verde,
  .icone-vermelho {
    font-size: 18px;
  }
}
mat-card {
  width: 70%;
  max-width: 80%;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  mat-card {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0;
    box-shadow: none;
    
  }

  .solicitacoes-container {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 11px;
    padding: 4px 6px;
  }

  .acoes-cell button {
    margin: 0 2px;
  }

  .icone-verde,
  .icone-vermelho {
    font-size: 18px;
  }
}

