<app-nav-bar [textoNav]="'Gerenciamento de aulas'"></app-nav-bar>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <h2 class="form-title">Preencha para gerar a aula</h2>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Disciplina</mat-label>
      <mat-select formControlName="disciplinaId">
        <mat-option value="" disabled>Selecione uma Disciplina</mat-option>
        <mat-option *ngFor="let disc of disciplinasList" [value]="disc.id">
          {{ disc.nome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['disciplinaId'].hasError('required')">
        Disciplina é obrigatória
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Curso</mat-label>
      <mat-select formControlName="cursoId">
        <mat-option value="" disabled>Selecione um curso</mat-option>
        <mat-option *ngFor="let curso of cursosList" [value]="curso.id">
          {{ curso.nome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['cursoId'].hasError('required')">
        Curso é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Sala</mat-label>
      <mat-select formControlName="salaId">
        <mat-option value="" disabled>Selecione uma sala</mat-option>
        <mat-option *ngFor="let sala of salasList" [value]="sala.id">
          {{ sala.descricao }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['salaId'].hasError('required')">
        Sala é obrigatória
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Turma</mat-label>
      <mat-select formControlName="turmaId">
        <mat-option value="" disabled>Selecione uma turma</mat-option>
        <mat-option *ngFor="let turma of turmasList" [value]="turma.id">
          {{ turma.descricao }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['turmaId'].hasError('required')">
        Turma é obrigatória
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Professor</mat-label>
      <mat-select formControlName="professorId">
        <mat-option value="" disabled>Selecione um Professor</mat-option>
        <mat-option *ngFor="let professor of profList" [value]="professor.id">
          {{ professor.nome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['professorId'].hasError('required')">
        Obrigatório
      </mat-error>
    </mat-form-field>

    
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Data Início</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="pickerInicio" formControlName="dataInicio" />
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
      <mat-error *ngIf="form.controls['dataInicio'].hasError('required')">
        Obrigatório
      </mat-error>
    </mat-form-field>

    <div *ngIf="diaDaSemana">
      Dia da semana selecionado: <strong>{{ diaDaSemana | diaSemana }}</strong>
    </div>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Data Fim</mat-label>
      <input 
      matInput 
      [matDatepicker]="pickerFim" 
      formControlName="dataFim"  
      [min]="form.controls['dataInicio'].value"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
      <mat-datepicker #pickerFim></mat-datepicker>
      <mat-error *ngIf="form.controls['dataFim'].hasError('required')">
        Obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Bloco</mat-label>
      <mat-select formControlName="bloco">
        <mat-option *ngFor="let bloco of blocoEnum" [value]="bloco.value">
          {{ bloco.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['bloco'].hasError('required')">
        O bloco é obrigatório.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" class="submit-button" [disabled]="form.invalid">
      Enviar
    </button>
  </div>
  <button mat-stroked-button color="warn" type="button" (click)="voltar()" class="back-button">
    <mat-icon class="back-icon">arrow_back</mat-icon>
    Voltar
  </button>
</form>