.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
}

.container_titulo {
  font-size: 28px;
  font-weight: 700;
}

.container_botao {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 12px 80px;
  display: inline;
  margin: 1em;
  transition: 0.3s ease;
  transform: translateX(-110px);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 1px;
  width: 280px;
  height: 50px;
}

.container_botao:hover {
  background-color: rgb(1, 75, 173);
  color: white;
}

.principal {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.imagem-fundo {
  align-self: flex-end;
  width: 50%;
  height: 100%;
  background-image: url(../../../../../public/icons/img_inicial.png);
  background-position: center;
  background-size: cover;
  background-color: rgb(248, 248, 248);
  transform: translateX(-100px);
}


.container_caixa {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 50%;
  background-color: rgb(172, 86, 86);
}

.container_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-1%,-60%);
  padding: 20px;
  align-items: center;
}


.container_content > h1 {
  font-size: 4em;
  margin-bottom: 40px;
  transform: translateX(35px);
}

.container_content > h2 {
  letter-spacing: 3px;
  margin-bottom: 40px;
  font-weight: 400;
  transform: translateX(4px);
}

button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 12px 80px;
  margin: 1em;
  transform: translateX(46px);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 1px;
  width: 280px;
  height: 50px;
  border: 1px solid #dedede;
}

.container_abaixo:hover {
  background-color: rgb(1, 75, 173);
  color: white;
}