<div class="login-container">
  <div class="login-form">
    <h2>Recuperar Senha</h2>

<form [formGroup]="formularioDeRecuperacao" (ngSubmit)="enviarLinkRecuperacao()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>E-mail</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. email@etec.sp.gov.br"
        />
        <mat-hint>Informe o e-mail cadastrado</mat-hint>
        <mat-error *ngIf="formularioDeRecuperacao.controls['email'].hasError('required')">
          O Email é <strong>obrigatório</strong>
        </mat-error>
        <mat-error *ngIf="formularioDeRecuperacao.controls['email'].hasError('email')">
          Por favor, digite um e-mail válido
        </mat-error>
      </mat-form-field>

      <div class="botao-container">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="formularioDeRecuperacao.invalid">
        Enviar link de recuperação
      </button>
        <button
        mat-flat-button
        color="accent"
        (click)="voltar()"
      >
        Voltar
      </button>
      </div>
    </form>
  </div>

  <div class="imagem-fundo"></div>
</div>