.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  background-color: #ffffff;
  background-color: rgb(248, 248, 248);
}

.login-form {
  font-size: 18px;
  padding: 90px;
  margin-left: 180px;
  width: 100%;
  max-width: 390px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  transform: translateX(150px);

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;

    .full-width {
      width: 100%;
      margin-bottom: 20px;
    }

    .botao-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      button {
        width: 100%;
        max-width: 250px;
        border-radius: 6px;
      }
    }

    .forgot {
      text-align: center;
      display: block;
      margin: 20px 0 10px;
      color: #1976d2;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    p {
      text-align: center;

      a {
        color: #1976d2;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.imagem-fundo {
  align-self: flex-end;
  width: 50%;
  height: 100%;
  background-image: url(../../../../../public/icons/img_inicial.png);
  background-position: center;
  background-size: cover;
  background-color: rgb(248, 248, 248);
  transform: translateX(104px);
}

