<div class="login-container">
  <div class="imagem-fundo"></div>

  <mat-card class="login-form-card">
    <div class="login-form">
      <h2>Informe seus dados</h2>
      <form [formGroup]="formularioDeUsuario">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            matInput
            formControlName="login"
            placeholder="Ex. email@etec.sp.gov.br"
          />
          <mat-error *ngIf="formularioDeUsuario.controls['login'].hasError('required') && formularioDeUsuario.controls['login'].dirty">
            O Email é <strong>obrigatório</strong>
          </mat-error>
          <mat-error *ngIf="formularioDeUsuario.controls['login'].hasError('email')">
            Por favor digite um email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="passwordAppears ? 'text' : 'password'"
            formControlName="senha"
            placeholder="Senha"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility()"
            tabindex="-1"
          >
            <mat-icon>
              {{ passwordAppears ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          <mat-error *ngIf="formularioDeUsuario.controls['senha'].hasError('required') && formularioDeUsuario.controls['senha'].dirty">
            A Senha é <strong>obrigatória</strong>
          </mat-error>
          <mat-error *ngIf="formularioDeUsuario.controls['senha'].hasError('minlength')">
            A senha precisa ter no <strong>mínimo</strong> 8 caracteres!
          </mat-error>
          <mat-error *ngIf="formularioDeUsuario.controls['senha'].hasError('maxlength')">
            A senha pode ter no <strong>máximo</strong> 50 caracteres!
          </mat-error>
        </mat-form-field>

        <div class="botao-container">
          <button
            mat-flat-button
            color="primary"
            [disabled]="formularioDeUsuario.invalid"
            (click)="logar()"
          >
            Acessar
          </button>
          <button mat-flat-button color="accent" (click)="voltar()">Voltar</button>
        </div>

        <a routerLink="/esqueci" class="forgot">Esqueceu a senha?</a>

        <hr />
        <p>Não tem cadastro? Cadastre-se <a routerLink="/cadastro">aqui</a></p>
      </form>
    </div>
  </mat-card>
</div>
