<div class="login-container">
  <div class="login-form">
    <h2 class="titulo-centralizado1">Criar uma conta</h2>
    <form [formGroup]="formularioDeUsuario" class="form-wrapper">
      <mat-form-field appearance="fill" class="input-full">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Nome" />
        <mat-error *ngIf="formularioDeUsuario.controls['nome'].hasError('required')"
          >O Nome é <strong> obrigatório </strong></mat-error
        >
        <mat-error
          *ngIf="formularioDeUsuario.controls['nome'].hasError('maxlength')"
          >O Nome pode ter no <strong>máximo</strong> 250 caracteres</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-full">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" placeholder="E-mail" />
        <mat-error
          *ngIf="formularioDeUsuario.controls['email'].hasError('required')"
        >
          O Email é <strong>obrigatório</strong>
        </mat-error>
        <mat-error *ngIf="formularioDeUsuario.controls['email'].hasError('email')">
          Por favor digite um email <strong>válido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-full">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          formControlName="senha"
          placeholder="Senha"
        />
        <mat-error *ngIf="formularioDeUsuario.controls['senha'].hasError('required')">
  A Senha é obrigatória
</mat-error>
        <mat-error
          *ngIf="formularioDeUsuario.controls['senha'].hasError('minlength')"
        >
          A senha precisa ter no <strong>mínimo</strong> 3 caracteres!
        </mat-error>
        <mat-error
          *ngIf="formularioDeUsuario.controls['senha'].hasError('maxlength')"
        >
          A senha pode ter no <strong>máximo</strong> 50 caracteres!
        </mat-error>
      </mat-form-field>

      <h3 class="perfil-titulo titulo-centralizado">Perfil</h3>

      <mat-radio-group formControlName="perfil" class="perfil-opcoes">
        <mat-radio-button value="admin">Administrador</mat-radio-button>
        <mat-radio-button value="professor">Professor</mat-radio-button>
      </mat-radio-group>

      <div class="botao-container">
        <button
          mat-flat-button
          color="primary"
          [disabled]="formularioDeUsuario.invalid"
        >
          Criar
        </button>
        <button
        mat-flat-button
        color="accent"
        (click)="voltar()"
      >
        Voltar
      </button>
      </div>
    </form>
  </div>

  <div class="imagem-fundo"></div>
</div>