.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-form {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo na horizontal */
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.titulo-centralizado {
  text-align: center;
  letter-spacing: 2px;
}

.input-full {
  width: 100%;
  margin-bottom: 20px;
}

.perfil-titulo {
  font-size: 20px;
  margin: 15px 0 5px 0;
  color: #222;
}

.perfil-opcoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 25px auto;
}

.botao-container {
  display: flex;
  justify-content: center;
}

.botao-container button {
  min-width: 100px !important;
  max-width: 120px !important;
  padding: 8px 0 !important;
  font-size: 14px !important;
  text-transform: none !important;
  box-shadow: none !important;
  border-radius: 6px;
}

.imagem-fundo {
  align-self: flex-end;
  width: 50%;
  height: 100%;
  background-image: url(../../../../../public/icons/background.jpeg);
  background-position: center;
  background-size: cover;
}