<app-nav-bar 
  [textoNav]="'Painel de Monitoramento'">
</app-nav-bar>
<div class="corpo">
  <mat-card>
    <mat-card-header>
      <div class="status">
        <div class="status-item">
          <span class="status-icon disponível"></span> Disponível
        </div>
        <div class="status-item">
          <span class="status-icon reservado"></span> Ocupada
        </div>
<button mat-button (click)="abrirCalendario()" class="botao-filtro">
  <mat-icon>calendar_month</mat-icon>
  Filtro
</button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="cards-container">
  <div *ngFor="let map of mapa">
    <app-cards-sala 
      [mapa]="map" 
      [mostrarEditarBotao]="false"
      [mostrarNumSala]="false"
      [mostrarExcluirBotao]="false"
      [botaoReservarSala]="authService.usuarioEhProfessor() ? true : false"
      >
    </app-cards-sala>
  </div>
</div>
    </mat-card-content>

  <div class="informacoes">
    <div class="informacao-item">
      <span class="valor">{{ salasDisponiveis }}</span>
      <span>Disponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasReservadas }}</span>
      <span>Ocupadas</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ mapa.length }}</span>
      <span>Salas no Total</span>
    </div>
  </div>