.corpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* ocupa a tela toda */
  box-sizing: border-box; /* importante para incluir padding no cálculo do tamanho */
  align-items: center;
  background-color: rgb(145, 166, 189);
  padding: 40px;
  overflow-x: hidden; /* evita rolagem horizontal */
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 colunas para a grid de cards */
  grid-gap: 10px;
  width: 75%;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  justify-items: center;
  margin-top: 20px; 
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 16px;
  justify-items: center;
  width: 100%;
}


mat-card-header {
  display: flex;
  justify-content: center;
}


.status {
  grid-column: span 10; /* Faz com que a linha ocupe toda a largura da grid */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* espaço entre os status-items */
  flex-wrap: wrap; /* para responsividade */
  margin-bottom: 20px;
}

.status-item {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 10px;
  text-align: center;
  flex-grow: 1; 
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.status-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px; 
  border-radius: 5px; 
}

.disponível {
  background-color: rgb(40, 167, 69);
}

.reservado {
  background-color: rgb(198, 40, 40);
}

.indisponível {
  background-color: rgb(117, 117, 117);
}
.informacoes {
  display: flex;
  flex-wrap: wrap; /* permite quebrar se não couber */
  justify-content: space-evenly;
  width: 90%; /* reduz de 50% para 90% para evitar quebra em telas pequenas */
  max-width: 800px;
  background-color: white;
  padding: 15px;
  border-radius: 15px 15px 0 0;
  border: 2px solid rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.informacao-item {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 10px;
  font-size: 16px;
}

.informacao-item .valor {
  font-weight: bold;
  font-size: 26px;
}

.informacao-item span {
  font-weight: normal;
  font-size: 20px;
}