<mat-toolbar color="primary" class="mat-elevation-z4">
  <img src="icons/icone_azul.png" alt="Logo" style="height: 40px; margin-right: 16px;" routerLink="/" />

  <a routerLink="/" class="perfil-link">RoomFlow</a>

  <span class="toolbar-title">{{ textoNav }}</span>

  <span class="spacer"></span>

  <div *ngIf="usuario" class="usuario-info" style="margin-right: 10px;">
    <span>{{ usuario.nome }}</span> |
    <span>{{ usuario.cargo }}</span>
  </div>

<!-- filtro / calendario-->
  <button mat-icon-button (click)="picker.open()" style="margin-right: -10px;">
    <span class="material-icons">calendar_month</span>
  </button>

  <button *ngIf="estaLogado" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="account-button">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<input
  matInput
  [matDatepicker]="picker"
  hidden
  #calendarInput
/>
<mat-datepicker #picker (closed)="abrirCalendario(calendarInput.value)"></mat-datepicker>

<mat-menu #menu="matMenu">
  <div *ngIf="usuario" style="padding: 8px 16px; font-size: 14px;">
    {{ usuario.email }} |
    {{usuario.cargo}}
  </div>
  <mat-divider></mat-divider>
  <a mat-menu-item routerLink="/principal">Mapa</a>
  <a mat-menu-item routerLink="/alterar-mapa" *ngIf="ehAdm">Alterar mapa</a>
  <a mat-menu-item routerLink="/gerenciamentoUsuarios" *ngIf="ehAdm">Gerenciamento de Usuários</a>
  <a mat-menu-item routerLink="/alterar-senha">Alterar senha</a>
  <a mat-menu-item class="sair-link" (click)="sairDaConta()">Sair</a>
</mat-menu>