
.corpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(145, 166, 189);
  padding: 40px;
  overflow-x: hidden;
}

mat-card {
  background-color:white !important;
  border-radius: 8px;
  padding: 5px;
}

mat-card-content {
  background-color: white !important;
  padding: 2px;
}

.scrollable-content {
  max-height: 650px;
  overflow-y: auto; 
  padding-right: 10px;
}
@media (max-width: 767px) {
  .corpo {
    padding: 20px 10px;
    min-height: 100vh;
    box-sizing: border-box;
  }

  mat-card {
    width: 100%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .scrollable-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    max-height: 100%;
  }
}
