
.corpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(145, 166, 189);
  padding: 40px;
  overflow-x: hidden;
}

mat-card {
  background-color:white !important;
  border-radius: 8px;
  padding: 5px;
}

mat-card-content {
  background-color: white !important;
  padding: 2px;
}

.scrollable-content {
  max-height: 650px;
  overflow-y: auto; 
  padding-right: 10px;
}