<h2 mat-dialog-title>Selecione o dia desejado</h2>

<mat-dialog-content style="display: flex; flex-direction: column; gap: 10px;">
  <form [formGroup]="form">
    <mat-card class="demo-inline-calendar-card" style="background-color: transparent; box-shadow: none;">
      <mat-calendar
        [selected]="form.get('data')?.value"
        (selectedChange)="form.get('data')?.setValue($event)"
        [minDate]="minDate">
      </mat-calendar>
    </mat-card>

    <h2 style="font-weight: normal;">Escolha o bloco</h2>

    <mat-radio-group
      formControlName="bloco"
    >
      <mat-radio-button *ngFor="let bloco of blocoEnum" [value]="bloco.value">
        {{ bloco.label }}
      </mat-radio-button>
    </mat-radio-group>
  </form>

 <div class="botoes-dialogo">
  <button mat-raised-button color="primary" (click)="aplicarFiltro()" [disabled]="!form.valid">Filtrar</button>
  <button mat-raised-button class="botao-fechar" (click)="dialogRef.close()">Fechar</button>
</div>
</mat-dialog-content>
