.users-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  justify-items: center;
  overflow-x: auto;
  max-width: 2800px;
  margin:  auto;
}

.mat-table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
  padding: 8px 10px; 
  border-bottom: none !important;
  font-size: 14px;
  color: #333;
}

.mat-header-row,
.mat-row {
  background-color: white;
  border-bottom: none !important;
}

button[mat-icon-button] {
  margin: 0 auto;
  display: block;
}

button[mat-icon-button].mat-warn mat-icon {
  color: rgb(198, 40, 40);
}