<app-nav-bar [textoNav]="'Alterar mapa'"></app-nav-bar>
<div class="corpo">
  <mat-card>
    <mat-card-header class="header-botao">
      <button mat-raised-button color="primary" class="custom-button" (click)="toggleModal()">
        Adicionar sala
      </button>
    </mat-card-header>

    <mat-card-content>
      <div class="cards-container">
        <div *ngFor="let sala of salas; let i = index">
          <app-cards-sala
            [sala]="sala"
            [mostrarExcluirBotao]="true"
            [saladesc]="sala.descricao"
            [mostrarEditarBotao]="true"
            [botaoReservarSala]="false"
            (removerSala)="removerSala($event)"
            (editarSala)="abrirModalEdicao($event)"
          >
          </app-cards-sala>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  

  <div class="informacoes">
    <div class="informacao-item">
      <span class="valor">{{ salasDisponiveis }}</span>
      <span>Disponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasReservadas }}</span>
      <span>Reservadas</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasIndisponiveis }}</span>
      <span>Indisponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salas.length }}</span>
      <span>Salas no Total</span>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="exibirmodal" (click)="toggleModal()">
  <div class="modal-card" (click)="$event.stopPropagation()">
    <p class="card-title">Adicionar sala</p>
    <p>Informe a descrição</p>
    <form [formGroup]="formularioDeSalas" *ngIf="formularioDeSalas">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Informe a descricao da sala</mat-label>
        <input
          type="text"
          matInput
          formControlName="descricao"
        />
        <mat-error
          *ngIf="formularioDeSalas.controls['descricao'].hasError('required')"
        >
          A descricao é <strong>obrigatória</strong>
        </mat-error>
        <mat-error
          *ngIf="formularioDeSalas.controls['descricao'].hasError('maxlength')"
        >
          Máximo de 6 caracteres ultrapassado
        </mat-error>
      </mat-form-field>

      <p>ou</p>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Informe o número da sala</mat-label>
        <input
          type="number"
          matInput
          formControlName="numero"
        />
        <mat-error
          *ngIf="formularioDeSalas.controls['numero'].hasError('required')"
        >
          A descricao é <strong>obrigatória</strong>
        </mat-error>
        <mat-error
          *ngIf="formularioDeSalas.controls['numero'].hasError('maxlength')"
        >
          Máximo de 6 caracteres ultrapassado

          
        </mat-error>
      </mat-form-field>
      <mat-form-field  class="full-width">
        <mat-label>Tipo de Sala</mat-label>
        <mat-select formControlName="tipoSala">
          <mat-option
            *ngFor="let tipo of tipoOptions"
            [value]="tipo.value"
          >
            {{ tipo.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formularioDeSalas.controls['tipoSala'].hasError('required')"
        >
          O Tipo de sala é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Status da Sala</mat-label>
        <mat-select formControlName="statusSala">
          <mat-option
            *ngFor="let option of statusOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formularioDeSalas.controls['statusSala'].hasError('required')"
        >
          O status é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <div class="botoes-modal">
      <button mat-raised-button class="botao-adicionar" (click)="cadastrarSalas()">
        {{ salaParaEdicao ? 'Editar' : 'Cadastrar' }}
      </button>
      <button mat-raised-button class="botao-fechar" (click)="toggleModal()">
        Fechar
      </button>
    </div>
</div>