<app-nav-bar [textoNav]="'Alterar mapa'"></app-nav-bar>
<div class="corpo">
  <mat-card>
    <mat-card-header class="header-botao">
      <button mat-raised-button color="primary" (click)="toggleModal()">
        Adicionar sala
      </button>
    </mat-card-header>

    <mat-card-content>
      <div class="cards-container">
        <div *ngFor="let sala of salas; let i = index">
          <app-cards-sala
            [sala]="sala"
            [numSala]="i + 1"
            [mostrarExcluirBotao]="true"
            (removerSala)="removerSala($event)"
          >
          </app-cards-sala>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  

  <div class="informacoes">
    <div class="informacao-item">
      <span class="valor">{{ salasDisponiveis }}</span>
      <span>Disponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasReservadas }}</span>
      <span>Reservadas</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasIndisponiveis }}</span>
      <span>Indisponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salas.length }}</span>
      <span>Salas no Total</span>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="exibirmodal" (click)="toggleModal()">
  <div class="modal-card" (click)="$event.stopPropagation()">
    <p class="card-title">Adicionar sala</p>
    <form [formGroup]="formularioDeSalas" *ngIf="formularioDeSalas">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Infome o número da sala</mat-label>
        <input
          type="text"
          matInput
          formControlName="descricao"
          placeholder="adiciona a descrição da sala"
        />
        <mat-error
          *ngIf="formularioDeSalas.get('descricao')?.hasError('required')"
        >
          A Descrição é <strong>obrigatória</strong>
        </mat-error>
        <mat-error
          *ngIf="formularioDeSalas.get('descricao')?.hasError('maxlength')"
        >
          Máximo de caracteres ultrapassado
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tipo da Sala</mat-label>
        <input
          type="text"
          matInput
          formControlName="tipo"
          placeholder="ex: Laboratório, Sala de Reunião, etc."
        />
        <mat-error
          *ngIf="formularioDeSalas.get('tipo')?.hasError('required')"
        >
          O tipo é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Status da Sala</mat-label>
        <mat-select formControlName="status">
          <mat-option
            *ngFor="let option of statusOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formularioDeSalas.get('status')?.hasError('required')"
        >
          O status é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <button mat-flat-button color="primary" (click)="cadastrarSalas()">
      Adicionar
    </button>
    <button mat-raised-button color="accent" (click)="toggleModal()">
      Fechar
    </button>
  </div>
</div>
