<app-nav-bar [textoNav]="'Alterar mapa'"></app-nav-bar>
<div class="corpo">
  <mat-card>
    <mat-card-header class="header-botao">
      <button
        mat-raised-button
        color="primary"
        class="custom-button"
        (click)="toggleModal()"
      >
        Adicionar sala
      </button>
    </mat-card-header>

    <mat-card-content>
      <div class="cards-container">
        <div *ngFor="let map of mapa">
          <app-cards-sala
            [mapa]="map"
            [saladesc]="map.descricao"
            [mostrarEditarBotao]="true"
            [mostrarExcluirBotao]="true"
            [botaoReservarSala]="false"
            (removerSala)="removerSala($event)"
            (editarSala)="abrirModalEdicao($event)"
          >
          </app-cards-sala>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="informacoes">
    <div class="informacao-item">
      <span class="valor">{{ salasDisponiveis }}</span>
      <span>Disponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasReservadas }}</span>
      <span>Ocupadas</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ salasIndisponiveis }}</span>
      <span>Indisponíveis</span>
    </div>
    <div class="informacao-item">
      <span class="valor">{{ mapa.length }}</span>
      <span>Salas no Total</span>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="exibirmodal" (click)="toggleModal()">
  <div class="modal-card" (click)="$event.stopPropagation()">
    <h2 class="card-title">
      {{ salaParaEdicao ? "Editar Sala" : "Adicionar Sala" }}
    </h2>
    <p class="card-subtitle">Preencha os campos abaixo:</p>

    <form
      [formGroup]="formularioDeSalas"
      *ngIf="formularioDeSalas"
      class="modal-form"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descrição da sala</mat-label>
        <input matInput type="text" formControlName="descricao" maxlength="6" />
        <mat-error
          *ngIf="formularioDeSalas.controls['descricao'].hasError('required')"
        >
          A descrição é obrigatória.
        </mat-error>
        <mat-error
          *ngIf="formularioDeSalas.controls['descricao'].hasError('maxlength')"
        >
          Máximo de 6 caracteres excedido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número da sala</mat-label>
        <input matInput type="number" formControlName="numeroSala" />
        <mat-error
          *ngIf="formularioDeSalas.controls['numeroSala'].hasError('required')"
        >
          O número é obrigatório.
        </mat-error>
        <mat-error
          *ngIf="formularioDeSalas.controls['numeroSala'].hasError('maxlength')"
        >
          Máximo de 6 caracteres excedido.
        </mat-error>
        <mat-error
          *ngIf="formularioDeSalas.controls['numeroSala'].hasError('pattern')"
        >
          O número deve conter apenas dígitos.
        </mat-error>
      </mat-form-field>

      <!-- Tipo -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de Sala</mat-label>
        <mat-select formControlName="tipoSala">
          <mat-option *ngFor="let tipo of tipoOptions" [value]="tipo.value">
            {{ tipo.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formularioDeSalas.controls['tipoSala'].hasError('required')"
        >
          O tipo é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Status da Sala</mat-label>
        <mat-select formControlName="statusSala">
          <mat-option
            *ngFor="let option of statusOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formularioDeSalas.controls['statusSala'].hasError('required')"
        >
          O status é obrigatório.
        </mat-error>
      </mat-form-field>

        <mat-checkbox formControlName="flagExibirNumeroSala">
          Exibir número da sala
        </mat-checkbox>

      <div class="botoes-modal">
        <button
          type="button"
          mat-raised-button
          class="botao-adicionar"
          (click)="cadastrarSalas()"
          [disabled]="formularioDeSalas.invalid"
        >
          {{ salaParaEdicao ? "Editar" : "Cadastrar" }}
        </button>
        <button mat-raised-button class="botao-fechar" (click)="toggleModal()">
          Fechar
        </button>
      </div>
    </form>
  </div>
</div> 
