<app-nav-bar [textoNav]="'Redefinir senha'"></app-nav-bar>

<div class="grid-alterar-senha">
  <h2 class="card-title">Crie uma nova senha</h2>

  <form [formGroup]="form" (ngSubmit)="alterarSenha()">

    <mat-form-field appearance="fill">
  <mat-label>Nova senha</mat-label>
  <input matInput 
         [type]="esconderNovaSenha ? 'password' : 'text'" 
         formControlName="novaSenha" 
         required>
  <button mat-icon-button 
          matSuffix 
          (click)="esconderNovaSenha = !esconderNovaSenha" 
          [attr.aria-label]="'Mostrar senha'" 
          [attr.aria-pressed]="!esconderNovaSenha"
          type="button">
    <mat-icon>{{ esconderNovaSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="form.controls['novaSenha'].hasError('required')">
    Campo obrigatório
  </mat-error>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Confirmar nova senha</mat-label>
  <input matInput 
         [type]="esconderConfirmarSenha ? 'password' : 'text'" 
         formControlName="confirmarSenha" 
         required>
  <button mat-icon-button 
          matSuffix 
          (click)="esconderConfirmarSenha = !esconderConfirmarSenha" 
          [attr.aria-label]="'Mostrar senha'" 
          [attr.aria-pressed]="!esconderConfirmarSenha"
          type="button">
    <mat-icon>{{ esconderConfirmarSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="form.controls['confirmarSenha'].hasError('required')">
    Campo obrigatório
  </mat-error>
  <mat-error *ngIf="form.hasError('senhasDiferentes') && form.controls['confirmarSenha'].touched">
    As senhas não coincidem
  </mat-error>
</mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Alterar senha
    </button>
  </form>
</div>
