.card {
  margin: 4px;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 10px;
  padding: 4px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 300px;
  box-sizing: border-box;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.fechar-button {
  background-color: #007bff !important;
  color: white !important;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  box-shadow: none;
}

.button-reservar{
  background-color: rgb(40, 167, 69) !important;
  color: white !important;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  box-shadow: none;
}

.fechar-button:hover {
  background-color: #0056b3 !important;
}

.removerSala-button{
  background-color: rgb(198, 40, 40) !important;
  color: white !important;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  box-shadow: none;
}

.editarSala-button{
  background-color: rgb(198, 174, 40) !important;
  color: white !important;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  box-shadow: none;
}

.removerSala-button:hover {
  background-color: rgb(125, 27, 27) !important;
}

.reservarSala-button {
  background-color: rgb(40, 167, 69) !important;
  color: white !important;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  box-shadow: none;
}

.reservarSala-button:hover {
  background-color: #1e7e34 !important;
}
.ml-2 {
  margin-left: 8px;
}

.reserva-card {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  width: 30%;
}

body {
  overflow: hidden; 
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 61, 61, 0.4); 
  backdrop-filter: blur(4px);
  z-index: 9998;
}

.card-title {
  font-weight: bold;
}

.num-sala {
  display: block;
  margin-top: 5px;
  
}
mat-form-field {
  width: 60%;
  --mdc-filled-text-field-container-color: transparent;
  --mdc-outlined-text-field-container-color: transparent;
  --mdc-filled-text-field-focus-active-indicator-color: #1976d2;
  --mdc-outlined-text-field-outline-color: transparent;
  --mdc-outlined-text-field-focus-outline-color: #1976d2;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

input.mat-input-element {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}
