<div>
  <div
    [ngStyle]="{ 'background-color': corDoCard() }"
    class="card"
    (click)="toggleCard()"
  >
    {{ numSala }}
  </div>
</div>

<div class="overlay" *ngIf="exibirCard" (click)="toggleCard()">
  <div class="modal-card" (click)="$event.stopPropagation()">

    <h5 class="card-title">Sala {{ numSala }}</h5>
    <p><strong>Tipo:</strong> {{ tipoSalaEnum[sala.tipoSala] }}</p>

    <ng-container *ngIf="sala.statusSala === statusEnum.Indisponivel; else verificaDisponivel">
      <p class="card-text" style="color: red; font-weight: bold;">
        Esta sala está indisponível no momento.
      </p>
    </ng-container>

    <ng-template #verificaDisponivel>
      <ng-container *ngIf="sala.statusSala === statusEnum.Disponivel; else mostraDetalhes">
        <p class="card-text" style="color: green; font-weight: bold;">
          Esta sala está disponível para reserva.
        </p>
      </ng-container>
    </ng-template>

    <ng-template #mostraDetalhes>
      
      <p class="card-text">Professor: {{ reservaProfessor }}</p>
      <p class="card-text">Disciplina: {{ reservaDisciplina }}</p>
      <p class="card-text">Turma: {{ reservaTurma }}</p>
    </ng-template>

    <button mat-raised-button class="fechar-button" (click)="toggleCard()">
      Fechar
    </button>
    <button
      mat-raised-button
      class="removerSala-button ml-2"
      *ngIf="mostrarExcluirBotao"
      (click)="onRemoverSala()"
    >
      Remover sala
    </button>
    <button
      mat-raised-button
      class="editarSala-button ml-2 espaco-inferior"
      *ngIf="mostrarEditarBotao"
      (click)="onEditarSala()"
    >
      Editar sala
    </button>

    <p *ngIf="salaDisponivel && isProfessor" class="disponivel-texto">
      Status: Disponível
    </p>

    <button
      mat-raised-button
      class="reservarSala-button ml-2"
      (click)="toggleReservaCard()"
      *ngIf="botaoReservarSala &&sala.statusSala === 1"
    >
      Reservar sala
    </button>

    <div *ngIf="mostrarReservaCard" class="overlay"></div>

    <!-- Card de reserva de sala -->
    <mat-card *ngIf="mostrarReservaCard" class="reserva-card">
      <mat-card-title class="card-title">
        Reserva de Sala
        <span class="num-sala">Sala {{ numSala }}</span>
      </mat-card-title>
      
      <p><strong>Professor: {{nomeDoProfessor}} </strong></p>

      <form [formGroup]="formulario">
        <mat-form-field appearance="fill">
          <mat-label><strong>Disciplina</strong></mat-label>
          <mat-select formControlName="disciplina" required>
            <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">
              {{ disciplina.nome }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formulario.controls['disciplina'].hasError('required') && formulario.controls['disciplina'].touched">
            A disciplina é obrigatória
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label><strong>Turma</strong></mat-label>
          <mat-select formControlName="turma" required>
            <mat-option *ngFor="let turma of turmas" [value]="turma.id">
              {{ turma.descricao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formulario.controls['turma'].hasError('required') && formulario.controls['turma'].touched">
            A turma é obrigatória
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data da Reserva</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="data" [min]="minDate" />
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formulario.controls['data'].hasError('required') && formulario.controls['data'].touched">
            A data é obrigatória
          </mat-error>
        </mat-form-field>

        <p class="bloco-label">Escolha o bloco desejado</p>
        <mat-radio-group formControlName="bloco" style="display: flex; gap: 16px; margin-top: 8px;">
          <mat-radio-button value="bloco1">Bloco 1</mat-radio-button>
          <mat-radio-button value="bloco2">Bloco 2</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="formulario.controls['bloco'].hasError('required') && formulario.controls['bloco'].touched" style="color: red; font-size: 12px;">
          Escolha o bloco é obrigatório
        </mat-error>

        <mat-card-content>
          <div *ngIf="!mostrarConfirmacaoFinal">
            <p>Você está prestes a reservar a sala {{ numSala }}.</p>
            <button mat-raised-button class="fechar-button" (click)="closeReservaCard()">Fechar</button>

            <button mat-raised-button class="button-reservar ml-2" (click)="confirmarReserva()" [disabled]="formulario.invalid">
              Confirmar Reserva
            </button>
          </div>

          <mat-card *ngIf="mostrarConfirmacaoFinal" class="confirmacao-final-card subir-card">
            <div class="confirmacao-container">
              <p class="confirmacao-texto">Deseja realmente reservar a sala {{ numSala }}?</p>
              <div class="botoes-confirmacao">
                <button mat-raised-button color="primary" (click)="confirmarReservaFinal()">OK</button>
                <button mat-raised-button color="warn" (click)="cancelarConfirmacaoFinal()">Cancelar</button>
              </div>
            </div>
          </mat-card>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
